name: CI/CD

on:
  push:
    branches: 
      - master
      - release/Test
  pull_request:
    branches: 
      - master
      - release/Test

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        api: [HotelInformationAPI, RoomReservationAPI, UserRegistrationAPI]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        path: release/Test

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.x'

    - name: Install dependencies
      run: dotnet restore release/Test/HotelBookingSystemSolution.sln

    - name: Build
      run: dotnet build release/Test/HotelBookingSystemSolution.sln --no-restore

    - name: Run tests non graphic
      run: dotnet test release/Test/HotelBookingSystemSolution.sln --no-build --verbosity normal --filter TestCategory!=UITest
      env:
        TOKEN_KEY_SECRET: ${{ secrets.TOKEN_KEY_SECRET }}
        DB_STRING_SECRET: ${{ secrets.DB_STRING_SECRET }}
        
    - name: List files in repository root
      run: ls $GITHUB_WORKSPACE/release/Test/BlazorAppFrontend
      
    - name: Run Blazor App
      run: dotnet run --project $GITHUB_WORKSPACE/release/Test/BlazorAppFrontend/BlazorAppFrontend.csproj &
    
    - name: Run API
      run: dotnet run --project $GITHUB_WORKSPACE/release/Test/UserRegistration/UserRegistration.csproj &

    - name: Run tests Selenium
      run: dotnet test release/Test/HotelBookingSystemSolution.sln --no-build --verbosity normal --filter TestCategory=UITest
      env:
        TOKEN_KEY_SECRET: ${{ secrets.TOKEN_KEY_SECRET }}
        DB_STRING_SECRET: ${{ secrets.DB_STRING_SECRET }}
        
    - name: Publish API
      run: |
        for api in HotelInformationAPI RoomReservationAPI UserRegistrationAPI; do
          echo "Publishing $api..."
          dotnet publish release/Test/$api/$api.csproj -c Release -o release/Test/$api/publish/$api
          echo "Published $api to release/Test/$api/publish/$api"
        done

  release:
    if: github.ref == 'refs/heads/release'
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        path: release/Test

    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.TEST_SECRET }}
      with:
        tag_name: v${{ github.run_number }}
        release_name: Release ${{ github.run_number }}
        draft: false
        prerelease: false

    - name: Compress Published APIs
      run: |
        zip -r HotelInformationAPI.zip release/Test/HotelInformationAPI/publish/HotelInformationAPI
        zip -r RoomReservationAPI.zip release/Test/RoomReservationAPI/publish/RoomReservationAPI
        zip -r UserRegistrationAPI.zip release/Test/UserRegistrationAPI/publish/UserRegistrationAPI

    - name: Upload Release Assets - HotelInformationAPI
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.TEST_SECRET }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./HotelInformationAPI.zip
        asset_name: HotelInformationAPI.zip
        asset_content_type: application/zip

    - name: Upload Release Assets - RoomReservationAPI
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.TEST_SECRET }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./RoomReservationAPI.zip
        asset_name: RoomReservationAPI.zip
        asset_content_type: application/zip

    - name: Upload Release Assets - UserRegistrationAPI
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.TEST_SECRET }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./UserRegistrationAPI.zip
        asset_name: UserRegistrationAPI.zip
        asset_content_type: application/zip
